body{
  background-color: rgb(34, 120, 217);
  margin: 0; 
}
.navbar h3{
  padding: 0px 10px;
  margin: 0;
font-weight: 700;    
}
.navbar>.navbar-brand>img{
  border-radius: 100%;
  
}
.navbar>button{
  padding: 0px 10px;
  margin: 0px 20px;
  border-radius: 50px;
}
.upper{
  display: flex;
  justify-content: space-between; 
}
.upper>.img1{
  width: 50px;
  margin: 0px 20px;   
}
.upper>.img2{
  width: 50px;
  margin: 0px 20px;
}
.middle {
position: relative;
width: 600px;
height: 600px;
margin: auto;
}
.center-image {
width: 200px;
height: 200px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
border-radius: 50%;
}
.surrounding-image {
position: absolute;
width: 100px;
height: 100px;
border-radius: 50%;
background-color: rgb(230, 121, 3);
margin-top: -50px;
margin-left: -50px;
}
.top-left {
top: 25%;
left: 25%;
}
.top-center {
top: 15%;
left: 50%;
}
.top-right {
top: 25%;
left: 75%;
}
.bottom-left {
top: 75%;
left: 25%;
}
.bottom-center {
top: 85%;
left: 50%;
}
.bottom-right {
top: 75%;
left: 75%;
}
.center-left {
top: 50%;
left: 15%;
}
.center-right {
top: 50%;
left: 85%;
}
  .gift{
    display: flex;
    justify-content: space-around;
  }
  .gift>.card{
      background-color: rgb(34, 120, 217);
    border: none;
    border-radius: 100%;
    margin-top: 70px;
  }
  .gift>.card>img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  .gift>.card>.card-body>.card-title{
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    text-align: center;
    height: 30px;
  }
  .boucher{
      background-color: rgb(255, 140, 33);
    margin: 0 100px;
    border-radius: 20px;
  }
  .boucher>h1{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }
  .boucher>.boucher-main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 120, 217);
    text-align: center;
  }
  .boucher>.boucher-main>.card{
    background-color: rgb(248, 249, 251);
    width: 70px;
    margin: 10px;
    display: inline;
  }
  .boucher>.boucher-main>.card>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .boucher>.card>.card-body>.card-title{
    border-radius: 10px;
    text-align: center;
  }
  .score{
    margin: 20px 80px;
    display: flex;
    justify-content: space-around;
  }
  .score>button{
    border-radius: 30px;
    padding: 10px;
  }
  .result{
    display: flex;
    background-color: rgb(249, 20, 100);
    border-radius: 30px;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
  }
  .result>h3{
    margin: 10px;
  }
  .result>img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 10px;
    justify-content: space-between;
  }

  @media (max-width: 768px) {

    .navbar > h3,
    .navbar > button {
        font-size: 14px;
    }
    .upper {
        flex-direction: row;
        
    }
    .img1,
    .img2 {
        margin: 10px 0;
    }
    .middle {
        width: 90vw; 
        height: 90vw;
    }
    .center-image {
        width: 30vw;
        height: 30vw;
  margin-left: 8px;
       
    }
    .surrounding-image{
      width:15vw; 
     height:15vw;
     transform: translate(50%, 50%);
    }
    .boucher-main{
   display: flex;
  flex-wrap: wrap;
  text-align: center;
    }

    .boucher>.boucher-main>.card{
      width: 70px;
    }
  .result{
      display: inline-block;
  }
  .score{
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
  }
  }